<a href="https://colab.research.google.com/github/ritashreemukherjee123/Python__complete_RM/blob/main/PYTHON_BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

def get_choices():
  player_choice = input("Enter a choice(Rock,Paper,Scissors):")
  options = ["Rock","Paper","Scissors"]
  computer_choice = random.choice(options)
  choices = {"player": player_choice, "computer": computer_choice}
  return choices

def check_win(player, computer):
  print(f"You chose {player}", f"Computer chose {computer}")   #Using  f-string

  if(player == computer):
    return "It's a tie!"
  elif(player == "Rock" and computer == "Scissors"):
    return "Rock smashes scissors! You win!"
  elif(player == "Paper" and computer == "Rock"):
    return "Paper covers rock! You win!"
  elif(player == "Scissors" and computer == "Paper"):
    return "Scissors cuts paper! You win!"
  else:
    return "You lose!"

choices = get_choices()
result = check_win(choices["player"], choices["computer"])
print(result)

Enter a choice(Rock,Paper,Scissors):Rock
You chose Rock Computer chose Rock
It's a tie!

VARIABLES.

In [ ]:
#This is a commented line.
name = "Rita" ; print(name)       #This is an inline comment.

Rita

In [ ]:
name = "Rita"
print(type(name))

<class 'str'>

In [ ]:
name = "Rita"
print(type(name) == str)

True

In [ ]:
name = "Rita"
print(isinstance(name, str))
age = 21
print(isinstance(age,int))

True
True

ARITHMETIC OPERATORS.
THERE ARE MANY ARITHMETIC OPERATORS LIKE +,-,/, %,etc.

In [ ]:
age=21
age*=21
print(age)
age+=21
print(age)

441
462

BOOLEAN OPERATORS INCLUDE ***and , not & or *** IN THE STATEMENT.

***TERNERY OPERATOR.***

In [ ]:
def  is_adult(age):
  age=int(input("Enter your age:"))
  return True if age>=18 else False
is_adult(age)

Enter your age:22

True

***STRINGS.***

In [ ]:
#STRING METHODS.
str1="Hello World"
print(str1)
print(str1[4])
print(str1[3:8])
print(str1[4: ])
print(str1[ :6] + "students")
print(str1[-1: ])
print(str1[-3:])
print(str1[::-1])
str = "Hello"
print(str * 3)
print(str + " World")
print("Hello" in str)
print("Hello" not in str)
print(str.upper())
print(str1.lower())
print(str.islower())
print(str.isupper())
print(len(str))
print(len(str1))
print(str.replace("H","J"))
print(str.split())
print(str.swapcase())
print(str.isalpha())
print(str1.isalnum())
print(max(str1))
print(min(str1))
print(str1.strip("Hell"))
print(str1.find("o"))
print(str1.count("l"))

Hello World
o
lo Wo
o World
Hello students
d
rld
dlroW olleH
HelloHelloHello
Hello World
True
False
HELLO
hello world
False
False
5
11
Jello
['Hello']
hELLO
True
False
r

o World
4
3

In [ ]:
name= 'ada lovelace'
print(name.title())

Ada Lovelace

USING F STRING

In [ ]:
first_name = "ada"
last_name = "lovelace"
full_name = f"{first_name} {last_name}"
print(full_name)

ada lovelace

***LIST***

Insert elements in the list.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

Removing the elements in the list using del function

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki','ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles[-1])

suzuki

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
   print(magician)

alice
david
carolina

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

In [ ]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
squares = []
for i in range(1, 11):
 squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

SIMPLE STATISTICS WITH LIST.

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))
print(max(digits))
print(sum(digits))

0
9
45

LIST COMPREHENSION.

In [ ]:
squares = [value**2 for value in range(1,21)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

SLICING A LIST.

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[1:4])
print(players[:4])
print(players[2:])
print(players[-3:])

['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']

LOOPING THROUGH A SLICE OF A LIST

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players of my team:")
for i in players[:3]:
  print(i.title())

Here are the first three players of my team:
Charles
Martina
Michael

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice cream']

***TUPLES.***

In [ ]:
dimensions = (200, 50)
print(dimensions[0])
print(dimensions[1])

200
50

Looping through all values of the tuples

In [ ]:
dimensions = (200, 50)
for d in dimensions:
 print(d)

200
50

In [ ]:
foods= ('Choco Eclaire','Lemonade','Blueberry Slushie','Choco Brownie','Blue lagoon')
for i in foods:
  print(i)

# Convert the tuple to a list to allow modifications
foods_list = list(foods)
foods_list[foods_list.index('Lemonade')] = 'Mango lassi'
foods_list[foods_list.index('Blueberry Slushie')] = 'Caramel Pudding'

# Optionally, convert the list back to a tuple
foods = tuple(foods_list)
print("\nThe new Items are:")
for n in foods_list:
  print(n)

Choco Eclaire
Lemonade
Blueberry Slushie
Choco Brownie
Blue lagoon

The new Items are:
Choco Eclaire
Mango lassi
Caramel Pudding
Choco Brownie
Blue lagoon

Different types of programs

In [ ]:
name = "Ri\\ta"          #Escape characters
print(name)

Ri\ta

In [ ]:
name = "RITASHREE"
print(name[:4])
print(name[4:])

RITA
SHREE

In [ ]:
str="I am learning Python from Apna College"
print(str.endswith("ege"))

True

In [ ]:
str1= "I am studying Python from Apna college"
print(str1)
print(str1.replace("Python","Javascript"))

I am studying Python from Apna college
I am studying Javascript from Apna college

In [ ]:
count = 1
while count<=5:
     print('Hello')
     count+=1
print(count)

Hello
Hello
Hello
Hello
Hello
6

In [ ]:
i=0
while i<=10:
  if(i%2==0):
    i+=1
    continue         #This continue statement helps to skip a statement.
  print(i)
  i+=1

1
3
5
7
9

In [ ]:
i=0
for i in range(10):
  pass                #This is a null statement which does nothing and is placeholder for future codes
print("Hi!! This is Ritashree")

Hi!! This is Ritashree

**FUNCTIONS**

In [ ]:
def print_hello():
  print("Hello")
  return
output = print_hello()     #since this function has "no return value", no value will be stored in "output" variable,hence gives none
print(output)

Hello
None

In [ ]:
cities = ["Kolkata","Gujarat","Mumbai","Bangalore","Delhi"]
veggies = ["Potato","Tomato","Onion","Garlic","Ginger","ladyfinger","Pumpkin","Cabbage"]
def cities_length(list):
   for i in list:
    print(i,end=" ")
   print("\n",len(list))

cities_length(cities)
cities_length(veggies)

Kolkata Gujarat Mumbai Bangalore Delhi
 5
Potato Tomato Onion Garlic Ginger ladyfinger Pumpkin Cabbage
 8

In [ ]:
n = int(input("Enter a number:"))
def calc_factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact*=i
  return fact

print("The factorial of",n,"is",calc_factorial(n))

Enter a number:5
The factorial of 5 is 120

In [ ]:
n = int(input("Enter a number:"))
def odd_even(n):
  if(n%2==0):
    print("EVEN")
  else:
    print("ODD")

odd_even(n)

Enter a number:22
EVEN

**RECURSIONS**

In [ ]:
n = int(input("Enter a number:"))
def calc_factorial(n):
  if(n==0 | n==1):     #Base Case
    return 1
  else:
    return calc_factorial(n-1)*n

print("The factorial of",n,"is",calc_factorial(n))

Enter a number:5
The factorial of 5 is 120

In [ ]:
n = int(input("Enter a number:"))
def calc_sum(m):
  if(m==0):
    return 0
  else:
    return calc_sum(m-1) + m

print("The sum of first",n,"natural numbers is",calc_sum(n))

Enter a number:10
The sum of first 10 natural numbers is 55

In [ ]:
a = [1,1,1,2,3,2,3,4,5,6,7,7,7]
from collections import Counter
most_common = Counter(a).most_common(1)
print(most_common[0][0])       #The [0][0] indexing is to get the actual value not the counter value

1

In [ ]:
f = open("/content/sample_data/Ritashree_Mukherjee(RM).txt","r")
data = f.read()
print(data)
f.close()

FileNotFoundError: [Errno 2] No such file or directory: '/content/sample_data/Ritashree_Mukherjee(RM).txt'

In [ ]:
f = open("demo.txt","w")
f.close()

In [ ]:
f = open("demo.txt","r+")
f.write("abc")
f.close()

In [ ]:
f = open("demo.txt","w+")
print(f.read())
f.write("abc")
f.close()

In [ ]:
f = open("demo.txt","a+")
print(f.read())
f.write("abc")
f.close()

In [ ]:
items = [4,7,8,9,2,10,3,6]
items.sort()
print(items)

[2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
names = ("Roger", "Syd","Abby")
names[-1]
names.index("Roger")
len(names)                      #Tuples are immutable and they make other copy of itself for any changes

print("Roger" in names)
sorted(names)
newTuple = names + ("Monica","Ross")
print(newTuple)

True
('Roger', 'Syd', 'Abby', 'Monica', 'Ross')

In [ ]:
dog = {"name": "Roger", "age": 8}
print(dog)
dog.update({"color": "brown"})
print(dog)
print(dog.get("color"))
print(list(dog))
print(dog.keys())
print(dog.values())
print(dog.items())

{'name': 'Roger', 'age': 8}
{'name': 'Roger', 'age': 8, 'color': 'brown'}
brown
['name', 'age', 'color']
dict_keys(['name', 'age', 'color'])
dict_values(['Roger', 8, 'brown'])
dict_items([('name', 'Roger'), ('age', 8), ('color', 'brown')])

In [ ]:
set1 = {"Roger", "Syd"}
set2 = {"Roger"}

intersect = set1 & set2
print(intersect)

dif = set1 - set2
print(dif)

union = set1 | set2
print(union)

print(list(set1))

{'Roger'}
{'Syd'}
{'Roger', 'Syd'}
['Roger', 'Syd']

In [ ]:
print("Here's a string that I want to \
write across multiple lines since it is long.")

Here's a string that I want to write across multiple lines since it is long.

In [ ]:
lst1 = [1, 2, 3]    # Adding each elements of the lists given
lst2 = [4, 5, 6]

new_lst = []
for i in range(0, len(lst1)):
  new_lst.append(lst1[i] + lst2[i])
print(new_lst)

[5, 7, 9]

In [ ]:
l1 = [1,2]                 # Joining or appending
l2 = [3,4,5,6,7]

new_lst = []
new_lst = (*l1, *l2)
print(new_lst)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#Functions
n = int(input("Enter a number:"))

def fact(n):
  f = 1
  for i in range(1,n+1):
    f *=i
  return f

print(f"The factorial of {n} is",fact(n))

Enter a number:5
The factorial of 5 is 120